/*default override*/
$primary: #1C1B1F;
$dark: #000;
$light: #F6F2F7;
$enable-cssgrid: true;
$enable-caret: true;

$container-max-widths: (
  sm: 99%
);

@import 'bootstrap/_functions.scss';
@import 'bootstrap/variables.scss';

/*theme colors*/
$custom-theme-colors: (
  "green-25": #DDFEEC,
  "green-50": #CEF3E1,
  "green-100": #D7F5E7,
  "gray-100": #F3F4F6,
  "gray-150": #D1D5DB,
  "gray-200": #787680,
  "success-pill": #C3FBEF,
  "star": #E87400,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import 'bootstrap/bootstrap.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $dark;
  overflow-x: hidden;
}

.form-check-input {
    scale: 1.2;
}

.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.specialInput:after {
  display: inline-block;
  top: 12px;
  right: 12px;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid rgba(0,0,0,0);
  border-bottom: 0;
  border-left: .4em solid rgba(0,0,0,0);
  position: absolute;
}

.accordion-button::after {
  margin-left: 8px;
}

/*Utilities*/

.statsShadow {
    box-shadow: 1px 4px 18px -2px rgba(231, 228, 232, 0.80);
    transition: .3s all;
}

.statsShadow:hover {
    box-shadow: 2px 5px 20px 0px rgba(231, 228, 232, 1);
}

.minHeight20vh {
  min-height: 20vh;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.roboto-medium, strong {
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  font-style: normal;
}

.minHeight24px {
  min-height: 24px; 
}

.minHeight2vh {
  min-height: 2vh; 
}

.minHeight3vh {
  min-height: 3vh; 
}

.minHeight4vh {
  min-height: 4vh; 
}

.minHeight5vh {
  min-height: 5vh; 
}

.minHeight9vh {
  min-height: 9vh; 
}

.boxshadow-0 {
  box-shadow: none !important;
}

.borderRadius8 {
  border-radius: 8px !important;
}

.borderRadius32 {
  border-radius: 32px !important;
}

.animatedBox {
  transition: .3s all;
}


@include media-breakpoint-up(xs) {
    html, body {
        font-size: .9rem !important;
    }
    .bigger-1 {
        font-size: 1.1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.3rem !important;
    }
    .bigger-4 {
        font-size: 1.4rem !important;
    }
    .bigger-5 {
        font-size: 1.5rem !important;
    }
    .bigger-6 {
        font-size: 1.6rem !important;
    }
    .smaller-1 {
        font-size: .9rem !important;
    }
    .smaller-2 {
        font-size: .8rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .8rem !important;
    }
    .smaller-5 {
        font-size: .8rem !important;
    }
    .smaller-6 {
        font-size: .8rem !important;
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: .9rem;
    }
    .display-1 {
        font-size: 5rem;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
}

@include media-breakpoint-up(md) {
    html, body {
        font-size: 1rem !important;
    }
    .display-1 {
        font-size: 6rem;
    }
    .bigger-1 {
        font-size: 1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.4rem !important;
    }
    .bigger-4 {
        font-size: 1.5rem !important;
    }
    .bigger-5 {
        font-size: 1.6rem !important;
    }
    .bigger-6 {
        font-size: 1.8rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }

}

@include media-breakpoint-up(lg) {
    html, body {
        font-size: 1rem !important;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: .9rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .7rem !important;
    }
    .smaller-5 {
        font-size: .6rem !important;
    }
}